@import url('space-grotesk.css');


body {
    background-color: #000;
}

div {
    font-family: SpaceGrotesk-Bold, serif;
    color: white;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.main_title {
    height: 20%;
    width: 100%;
    background: white;
    color: black;
    text-align: center;
    padding: 2%;
    margin-top: 0;
    margin-bottom: 2%;
}

.control-panel {
    background: blue;
    width: 60%;
    height: 40%;
    text-align: center;
    border-radius: 25px;
}

.control-panel_title {
    padding: 40px;
    text-align: center;
}

.control-panel_content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2em;
    text-align: center;
    padding: 5px 2px;
}

.control-panel_content_button {
    padding: 3px 5px;
    border: 2px solid white;
    border-radius: 25px;
}

.control-panel_content_button:hover {
    background: white;
    color: blue;
}